body{
	font-family: 'Raleway',sans-serif;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
	top: 15%;
	background: linear-gradient(to right, rgb(79, 162, 176), rgb(253, 2, 253));
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    text-align: center;
	text-transform: uppercase;
	letter-spacing: .5em;
    width: 100%;
}

h2 {
    font: 900 1em 'Raleway', sans-serif;
    text-align: center;
	text-transform: none;
	letter-spacing: 0.01em;

}

.copyTextButton {
	font-family: 'Raleway', sans-serif;
	color: white;
	cursor: pointer;
	padding: 15px;
	text-align: center;
	text-transform: uppercase;
	border-radius: 10px;
	background-image: linear-gradient(to right, rgb(79, 162, 176), rgb(253, 2, 253));
}