body {
	margin: auto ;
	font-size: 62.5%;
}

.main {
	margin: auto;
	text-align: center;
	font-size: 40px;
	font-family: 'Bangers', cursive;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

/* 3 borders color after h1 */
div.borderBottom {
  margin: 0 auto;
  width: 240px;
}

div.borderColor1 {
  display: inline-block;
  background: #FDB44B;
  width: 80px;
  height: 5px;
}

div.borderColor2 {
  display: inline-block;
  background: #F71E35;
  width: 80px;
  height: 5px;
}

div.borderColor3 {
  display: inline-block;
  background: #0066B3;
  width: 80px;
  height: 5px;
}


input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: solid black;
  text-align: center;
  font-size: 1em;
}

input:hover {
  opacity: 1;
}

/* responsive mobile */
@media (max-width: 991.5px) {
  input {
    width: 100%;
    }
}
#enter {
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.5em;
  display: block;
  margin: 0 auto;
  width: 10%;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  margin-top: 2px;
  padding: 5px;
  transition: background-color 1s;
}

.done {
	text-decoration: line-through;
}
/*For the done button*/
.strike {
   cursor: pointer;
   border-radius: 5px;
   background-color: black;
   color: white;
   padding: 2px;
}

button {
	margin: 5px;
}
