body {
	margin: auto ;
	font-size: 62.5%;
}

.main {
	margin: auto;
	text-align: center;
	font-size: 30px;
	font-family: 'Bangers', cursive;
}

h1 {
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0;
}

.signifyDone {
  font-size: 15px;
}
/* 3 borders color after h1 */
div.borderBottom {
  margin: 0 auto;
  width: 240px;
}

div.borderColor1 {
  display: inline-block;
  background: #FDB44B;
  width: 80px;
  height: 5px;
}

div.borderColor2 {
  display: inline-block;
  background: #F71E35;
  width: 80px;
  height: 5px;
}

div.borderColor3 {
  display: inline-block;
  background: #0066B3;
  width: 80px;
  height: 5px;
}


input {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  border: solid black;
  text-align: center;
  font-size: 1em;
}

input:hover {
  opacity: 1;
}

/* responsive mobile */
@media (max-width: 991.5px) {
  input {
    width: 50%;
    }
 
}
#enter {
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.5em;
  /* margin: 0 auto; */
  width: 100px;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 10px;
  transition: background-color 1s;
}

.done {
   text-decoration: line-through;
 
}

li {
  list-style: none;
  padding: 12px 15px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  width: 90%;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-bottom: 10px;
  background: black;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5 ease;
}

li:hover {
  background: #636262;
}

li > button {
  font-weight: normal;
  background: none;
  border: none;
  float: right;
  color: white;
  font-weight: 800;
}